<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Task Queue Service</title>
</head>
<body>
<div class="container">
    <div class="header">
        <h1>File Task Queue Service</h1>
    </div>

    <div class="links">
        <div class="link-item">
            <a href="/api/v1/tasks">All Tasks</a>
        </div>
        <div class="link-item">
            <a href="/swagger-ui.html">Swagger UI</a>
        </div>
        <div class="link-item">
            <a href="/actuator/health">Health Check</a>
        </div>
        <div class="link-item">
            <a href="/actuator/metrics">Metrics</a>
        </div>
        <div class="link-item">
            <a href="/actuator/prometheus">Prometheus</a>
        </div>
    </div>
</div>
</body>
</html>